.main {
    margin: 3rem;
    padding: 6rem 26rem 0 10rem;
    text-align: center;
  }
  .h2 {
    font-size: 2rem;
    color: #1f5156;
    font-family: "Optimistic Text Bold", Helvetica, Arial, sans-serif;
    /* letter-spacing: 1px; */
    line-height: 34px;
    margin-bottom: 30px;
    padding-top: 0.2rem;
  }
  .circle {
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px #1f5156 solid;
    border-radius: 100%;
    color: #1f5156;
    content: counter(item);
    display: inline-flex;
    font-size: 16px;
    font-weight: 800;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
  }
  .heading {
    color: #1f5156;
    font-family: "Optimistic Text Bold", Helvetica, Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .maincontent {
    margin: 3rem;
    padding: 0rem 10rem;
    text-align: center;
  }
  .plpara {
    padding-left: 4.5rem;
    color: gray;
    font-size: smaller;
  }
  .plpara_key{
    color: #437175;
    font-size: 1rem;
    font-weight: 600;
  }
  .swiperr{
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  @media screen and (min-width: 320px)  {
    .h2 {
      font-size: 2rem;
      color: #1f5156;
      font-family: "Optimistic Text Bold", Helvetica, Arial, sans-serif;
      letter-spacing: 1px;
      line-height: 34px;
      margin-bottom: 30px;
    }
    .h3 {
      font-size: 2rem;
      color: #1f5156;
    }
    .maincontent {
      margin: 2rem;
      padding: 0rem;
    }
    .heading {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    .plpara {
      font-size: 14px;
      padding-left: 0rem;
      
    }
  }
  
  @media screen and (min-width: 768px)  and (max-width: 1024px) {
    .h2 {
      font-size: 3rem;
      color: #1f5156;
      font-family: "Optimistic Text Bold", Helvetica, Arial, sans-serif;
      letter-spacing: 1px;
      line-height: 34px;
      margin-bottom: 30px;

    }
    .h3 {
      font-size: 3rem;
      color: #1f5156;
    }
    .maincontent {
      margin: 2rem;
      padding: 0rem;
    }
    .heading {
      font-size: 1.5rem;
      font-weight: 600;
      /* padding-top: 0.2rem; */
    }
    .plpara {
      font-size: 1rem;
      padding-top: 0.6rem;
      padding-left: 2.5rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .main {
      margin: 3rem;
      padding: 4rem 20rem 0 10rem;
      text-align: center;
    }
    .h2 {
      font-size: 3rem;
      margin-bottom: 5rem;
      color: #1f5156;

    }
    .circle {
      font-size: 2rem;
      height: 40px;
      width: 40px;
    }
    .heading {
      font-size: 2.5rem;
      margin-bottom: 10px;
      padding-top: 0.2rem;

    }
    .maincontent {
      margin: 3rem;
      padding: 4rem 8rem;
      text-align: center;
    }
    .plpara {
      font-size: 1rem;
      padding-left: 3rem;
      color: gray;
    }
  }
  
  /* @media screen and (min-width: 1350px) {
  } */